.App {
  text-align: center;
  margin: 20px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.menuItems {
  display: inline;
  margin: 20px;
  padding: 20px;
}

.image {
  height: 30%;
  width: 30%;
}